<ng-particles [id]="particlesId" [options]="particlesOptions" [particlesInit]="particlesInit"
  (particlesLoaded)="particlesLoaded($event)">
</ng-particles>

<section class="left-form">
</section>
<section class="right-form">
  <form (ngSubmit)="OnSubmit()" #form="ngForm">
    <h2>Softball</h2>
    <div class="Kodiaks-logo">
      <img class="" src="../../../assets/img/KodiaksLogoShadow.png">
    </div>

    <label for="txtuserName" class="form-label">Usuario</label>
    <input type="text" class="form-control" id="txtuserName" name="userName" [(ngModel)]="logUsr.userName"
      placeholder="Ingrese su usuario." (ngModelChange)="Validate($event, 'userName', 'phone')" required>

    <label for="txtPassword" class="form-label">Contraseña</label>

    <input type="password" class="form-control" id="txtPassword" name="password" [(ngModel)]="logUsr.password"
      placeholder="Ingrese su contraseña." (ngModelChange)="Validate($event,'password')" required>

    <a href="#" class="forgetPassword"> ¿Olvidaste tu contraseña? </a>

    <div class="check">
      <input type="checkbox" id="gridCheck">
      <span>Recordar contraseña</span>
    </div>

    <input type="submit" class="btn btn-primary" value="Sign In" />

  </form>
</section>
