<app-new-modal [positions]="positions" [rosterItem]="rosterItem" [saveEvent]="updateDataEvent" *appRole="['SuperAdmin','Admin']"></app-new-modal>
<!-- <app-detail-modal [movement]="movementEdit"></app-detail-modal> -->

<div class=" row">
  <div class=" col-md-12">
    <div class=" card">
      <div class=" card-header">
        <div class="row gy-2 gx-3 align-items-center w-100">
          <div class="col-sm-10">
            <h1>
              Kodiaks Roster
            </h1>
          </div>
          <div class="col-sm-2 text-right">
            <button class="btn btn-success w-100 h-100" data-bs-toggle="modal" data-bs-target="#addRosterModal"
              type="button" (click)="OpenAddModel()" *appRole="['SuperAdmin','Admin']" [appCanEdit]="[]">
              <i class="fa-solid fa-plus"></i> Agregar
            </button>
          </div>
        </div>
      </div>
      <div class=" card-body">
        <div class=" table-responsive" *ngFor="let pos of positions">
          <table class="table">
            <thead>
              <tr class="text-center bg-secondary">
                <th>{{pos.positionDesc}}</th>
                <th style="width: 10%;">B/T </th>
                <th style="width: 10%;">DOB</th>
                <th style="width: 10%;" *appRole="['SuperAdmin','Admin']">Acción</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <ng-container *ngFor="let item of roster">
                <tr *ngIf="(item.positionId == pos.positionId)">
                  <td class=" text-left">
                    <a href="#" class="link-Kodiaks" data-bs-toggle="modal" data-bs-target="#detailModal"
                      (click)="onOpenDetail(item)">
                      {{item.fullName}} {{item.shirtNumber}}
                    </a>
                  </td>
                  <td class=" text-center">
                    {{item.btKeyValue}}
                  </td>
                  <td class=" text-center">
                    {{item.birthday | date:'dd/MM/yyyy'}}
                  </td>
                  <td class=" text-center" *appRole="['SuperAdmin','Admin']">
                    <button type="button" class="btn btn-danger" (click)="onDelete(item)">Eliminar</button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
