.main-panel {
  width: calc(100% - 5rem);
  height: 100vh;
  margin-top: 0;
  margin-left: 5rem;
  position: relative;
  top: 0;
  transition: all .5s ease;
  padding: 0;

  .content {
    padding: 1rem;
    padding-top: 2rem;

  }
}

.main-panel-trimmed {
  width: calc(100% - 16.5625rem);
  margin-left: 16.5625rem;
}

.main-panel-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

@media only screen and (max-width: 450px) {
  .main-panel {
    width: 100%;
    margin-left: 0;
  }
}

// @media only screen and (min-width: 451px) {
//   .main-panel {
//     width: calc(100% - 5rem);
//     margin-left: 5rem;
//   }
// }
