<app-new-modal [movement]="movement" [saveEvent]="updateDataEvent"></app-new-modal>
<app-detail-modal [movement]="movementEdit"></app-detail-modal>

<div class=" row">
  <div class=" col-md-12">
    <div class=" card">
      <div class=" card-header">
        <div class="row gy-2 gx-3 align-items-center w-100">
          <div class="col-sm-10">
            <h1>
              Saldo Actual (Fondo): <span
                [ngClass]="total == 0 ? 'neutral-currency' : total > 0 ? 'positive-currency': 'negative-currency'">{{total
                | currency}}</span>
            </h1>
          </div>
          <div class="col-sm-2 text-right">
            <button class="btn btn-success w-100 h-100" data-bs-toggle="modal" data-bs-target="#movementModal"
              type="button" (click)="OpenAddMovementModel()" [appCanEdit]="[]">
              <i class="fa-solid fa-plus-minus"></i> Agregar movimiento
            </button>
          </div>
        </div>
      </div>
      <div class=" card-body">
        <div class="row gy-2 gx-3 align-items-center w-100">
          <div class="col-sm-9">
            <h3>Movimientos del mes</h3>
          </div>
          <div class="col-sm-1">
            <select class="form-select w-100" [(ngModel)]="year" (change)="onDdlYearChange($event)">
              <option value="undefined" selected>Año</option>
              <option *ngFor="let item of yearSelect" [value]="item">{{item}}</option>
            </select>
          </div>
          <div class="col-sm-1">
            <select class="form-select w-100" [(ngModel)]="month" (change)="onDdlMonthChange($event)">
              <option value="undefined" selected>Mes</option>
              <option value="1">Enero</option>
              <option value="2">Febrero</option>
              <option value="3">Marzo</option>
              <option value="4">Abril</option>
              <option value="5">Mayo</option>
              <option value="6">Junio</option>
              <option value="7">Julio</option>
              <option value="8">Agosto</option>
              <option value="9">Septiembre</option>
              <option value="10">Octubre</option>
              <option value="11">Noviembre</option>
              <option value="12">Diciembre</option>
            </select>
          </div>
          <div class="col-sm-1">
            <button name="refreshData" class="btn btn-primary w-100" type="button" (click)="getMovements()"><i
                class="fa-solid fa-arrows-rotate"></i> Refresh</button>
          </div>
        </div>
        <div class=" table-responsive">
          <table class="table">
            <thead>
              <tr class="text-center">
                <th>Fecha</th>
                <th>Tipo </th>
                <th>Concepto</th>
                <th>Monto</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr *ngFor="let movementItem of movements">
                <td class=" text-center">
                  <a href="#" class="link-Kodiaks" data-bs-toggle="modal" data-bs-target="#detailModal"
                    (click)="onOpenDetailMovement(movementItem)">
                    <span ngbTooltip="{{movementItem.fullName}}">
                      {{movementItem.movementDate | date:'dd/MM/yyyy'}}
                    </span>
                  </a>
                </td>
                <td class=" text-center">
                  <span ngbTooltip="{{movementItem.movementTypeDesc}}">{{movementItem.movementTypeKey}}</span>
                </td>
                <td class=" text-center">
                  {{movementItem.conceptDesc}}
                </td>
                <td class="text-end">
                  <span class="text-end"
                    [ngClass]="movementItem.movementTypeId == 1 ? 'positive-currency': 'negative-currency'">
                    {{(movementItem.movementTypeId == 2 ? "-" + movementItem.amount : movementItem.amount) | currency}}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
